 {%extends "base.html" %}

{% block content %} 
	<title>Data Visualization Tools</title>
	 <div class="row">
			<div class="col-md-6">
			<div class="span6">
			  <h3> Circle Packing</h3>
				<br>
				<img  src="static/images/homepage2.png" class="img-responsive" width="800" height="800" alt="cpimage"/>
				<br><br>

			  </div>
			  </div>
		
			<div class="col-md-6">
			<div class="span6">
			<br><br><br><br><br><br><br><br><br><br><br><br>
			  <p><h4> A circle packing is an arrangement of circles in a given boundary such that no two circles overlap. Through the use of this algorithm a visualization of the defferent gene function levels according to their fold change numbers is made possible. There are two kinds of images possible a static image with different function labels and a dynamic image that allows the user to zoom into the circles to view functions in details.
			  </h4>
			  </div>
			  </div>
		
		</div>



</body>
</html>

	

  
  
{% endblock %}

