
<!-- The extend statement tells this file inherit the general html elements from the the base.html file -->
 

{% extends "base.html" %}  
{% block content %}  

<div class="container-fluid">

	 <form action="{{ url_for('cpack.cpackModelType')}}" id="userInput" method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Title:</label>
			<div class="col-sm-5">
				<input type="text"	name="title" id="title" class="form-control" required >
			</div>	 
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Group A :</label>
			<div class="col-sm-5">
				<div class="form-inline">
					<input type="text" name="subjectA" class="form-control" required >
					<button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#groupA">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</button>
					<div class="modal fade" id="groupA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">Help</h4>
					      </div>
					      <div class="modal-body">
					        Group associated with positive fold change
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group"> 
			<label class="col-sm-2 control-label">Group B:</label>
			<div class="col-sm-5">
				<div class="form-inline">
					<input type="text" name="subjectB" class="form-control" required >
					<button type="button" class="btn btn-sm btn-default"data-toggle="modal" data-target="#groupB">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</button>
					
					<div class="modal fade" id="groupB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">Help</h4>
					      </div>
					      <div class="modal-body">
					        Group associated with negative fold change
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
			
		<div class="form-group">
			<label class="col-sm-2 control-label">Log Fold Change Threshold </label>
			<div class="col-xs-1">
				<input type="number" name="nLimit" class="form-control" min=0 value=2>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Neutral Color</label> <!-- wherever fold change is less that 4 -->
			<div class="col-sm-8">
				<div class="form-inline">
					<input type="color" name="nColor" class="form-control">
					<button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#neutral_color">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</button>
					<div class="modal fade" id="neutral_color" tabindex="-1" role="dialog" aria-labelledby="nColor">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="nColorLabel">Help</h4>
					      </div>
					      <div class="modal-body">
					        A circle is considered neutral when it's log fold change value is less than or equal to the log fold change threshold value.
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>	
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Circle Color</label> <!-- color for the larger circles -->
			<div class="col-xs-1">
				<input type="color" name="fColor" class="form-control">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Color for Group A</label>
			<div class="col-xs-1">
				<input type="color" name="aColor" class="form-control">
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Color for Group B</label>
			<div class="col-xs-1">
				<input type="color" name="bColor" class="form-control" >
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Opacity of the root circle<em>(Recommended Range:(0.0-1])</em></label>
			<div class="col-xs-1">
				<input type="number" name="opacity" value=.5 step="any" min=0 max=1 class="form-control">
			</div>
		</div>
		<!-- <br><br> -->
		<!-- RADIO BUTTON GROUP-ADD -->
		<label class="col-sm-2 control-label">Please select the type of figure </label>
		<label class="checkbox-inline">
			<input type="radio" name="imageType" value="simple" checked>Circle Packing
		</label>
		<label class="checkbox-inline">
			<input type="radio" name="imageType" value="zoomable">Zoomable Circle Packing
		</label>

		<br><br>
		
		<div class="form-group">
			<div class="form-inline">
				<label class="control-label col-sm-2">Please select a font:</label>
				<select name="fontList" class="form-control col-sm-2">
					<option  value="Times,serif"> Times New Roman</option>
					<option  value="Georgia,serif"> Georgia</option>
					<option  value="Arial, Helvetica,sans-serif"> Arial, Helvetica</option>
					<option  value="Tahoma, Geneva, sans-serif"> Tahoma</option>
				</select>
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="col-sm-2 control-label">Please enter a font size</label>
			<div class="col-xs-1">
				<input type="number" name="fsize" value=15 step="any" min=9 class="form-control">
			</div>
		</div>
		
		<!-- <div class="form-group"> -->
			<!-- <label class="col-sm-2">Select Required File (tab-separated text file) </label> -->
			<!-- <div class="form-inline"> -->
				<!-- <input type="file"   name="myFiles"  required >  -->
				<!-- <button data-toggle="modal" data-target="#select_file">Select Required File (tab-separated text file) </button>
				<div class="modal fade" id="select_file" role="dialog" arialabeledby="selectf">
					<div class="modal-content">
						<div class="modal-body">
							{% if files is not none %}
								{% for file in files %}
									<select name="myFiles">
									<option value="{{ file.File.uploaded_file }}" name="myFiles">
										<i class="fa fa-file-text-o" aria-hidden="true">{{ file.File.uploaded_file }}</i>
									</option>
									</select>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div> -->
					

				<!--div-file upload help modal	 -->
				<div class=".col-md-6 .col-md-offset-3">
					<button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#file_upload">
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</button>
					<div class="modal fade" id="file_upload" tabindex="-1" role="dialog" aria-labelledby="file">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="fileLabel">Help</h4>
					      </div>
					      <div class="modal-body">
					        The file must be a tab seperated .txt file. It should consist of maximum 5 columns. The first columns should be the functional levels an dthe last column should be the log fold change numbers.
					        <br><br>
					        <img src="../static/images/sample_file.png" >
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<button type="submit" class="btn btn-lg btn-primary">Submit</button>
			<button type="reset" class="btn btn-lg btn-primary">Reset</button>
		</div>
	</form>

	<!-- <button data-toggle="modal" data-target="#select_file">Select Required File (tab-separated text file) </button>-->
	<!-- <div class="modal fade" id="select_file" role="dialog" arialabeledby="selectf"> -->
			<!-- <div class="modal-content"> -->
				<!-- <div class="modal-body"> -->
	<div class="text-center">
		<h4> Select tab seperated text file </h4>
		<select name="myFiles" form="userInput">
			{% if files is not none %}
				{% for file in files %}
					<option value="{{ file.File.uploaded_file }}">
						{{ file.File.uploaded_file }}</option>
				{% endfor %}
			{% else %}
				<p> Please upload a file and then try again </p>
			{% endif %}
		</select>
	</div>
				<!-- </div>
			</div> -->
	<!-- </div> -->
	
</div>


</body>
</html>
{% endblock %}
